@media only screen and (max-width: 700px) {
    .whiteBack {
        border-top: 1px solid rgb(212,212,212);
        border-bottom: 1px solid rgb(212,212,212);
    }

    #logo, #navBar{
        display: none;
    }

    .mobileNavBar {
        display: block;
    }

    #landing {
        display: block;
        width: 100%;
    }

    #banner {
        max-width: 100%;
        padding: 0;
    }

    #text {
        max-width: 100%;
        padding: 32px 16px;
    }

    #desktopMainArticle {
        display: none;
    }

    .subArticles {
        max-width: 100%;
    }

    .subArticles button {
        display: block;
        padding: 16px 16px 48px 16px;
    }

    .dImage {
        display: none;
    }

    .mImage {
        display: block;
        width: 100%;
        height: auto;
    }

    .subArticles div {
        padding-left: 16px;
    }

    #learn {
        background-color: white;
    }

    #desktopPanelBoard {
        display: none;
    }

    #mobilePanelBoard {
        display: flex;
        flex-direction: column;
    }

    .courseButton {
        width: 100%;
        border: 0;
        margin-bottom: 8px;
        background-color: rgb(212,212,212);
        text-align: left;
    }

    .courseButton h2 {
        padding-left: 16px;
    }

    .courseButton:hover {
        background-color: rgb(71,71,71);
        color: rgb(212,212,212);
    }

    #desktopThesis {
        display: none;
    }

    #mobileThesis {
        display: block;
        width: 100%;
    }
    
    #mobileThesis video {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 700px) {
    .mobileNavBar {
        display: none;
    }

    #mobilePanelBoard {
        display: none;
    }

    #mobileThesis {
        display: none;
    }

    .mImage {
        display: none;
    }
}

